#include <dt-bindings/led/led.h>

&spi2 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	cs-gpios = <&gpio1 15 GPIO_ACTIVE_LOW>; // D10
    pinctrl-names = "default", "sleep";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <4000000>;

		/* WS2812 */
		chain-length = <12>; /* arbitrary; change at will */
		color-mapping = <LED_COLOR_ID_GREEN
				         LED_COLOR_ID_RED
				         LED_COLOR_ID_BLUE>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
	};
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	/* Cannot be used together with spi1. */
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

  oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        inversion-on;
        prechargep = <0x22>;
        ready-time-ms = <500>;
    };

};

&pinctrl {
    spi2_default: spi2_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
				<NRF_PSEL(SPIM_MOSI, 1, 15)>,
				<NRF_PSEL(SPIM_MISO, 1, 14)>;
		};
	};

	spi2_sleep: spi2_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
				<NRF_PSEL(SPIM_MOSI, 1, 15)>,
				<NRF_PSEL(SPIM_MISO, 1, 14)>;
			low-power-enable;
		};
	};

  i2c0_default: i2c0_default {
  	group1 {
  		psels = <NRF_PSEL(TWIM_SDA, 0, 5)>,
        <NRF_PSEL(TWIM_SCL, 0, 4)>;
  	};
  };
  
  i2c0_sleep: i2c0_sleep {
  	group1 {
  		psels = <NRF_PSEL(TWIM_SDA, 0, 5)>,
        <NRF_PSEL(TWIM_SCL, 0, 4)>;
  		low-power-enable;
  	};
  };
};





/ {
	chosen {
		// zmk,underglow = &led_strip;
    zephyr,display = &oled;
	};
  // Node name must match original "EXT_POWER" label to preserve user settings.
   EXT_POWER {
       compatible = "zmk,ext-power-generic";
       control-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
       init-delay-ms = <200>;
   };
};
