/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>



/{
    behaviors
    {
        stickymt: stickymt{
            compatible = "zmk,behavior-hold-tap";
            label = "STICKYMT";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&sl>;
        };
        pkey: pkey{
            compatible = "zmk,behavior-tap-dance";
            label = "PKEY";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&mt RBKT P>, <&mt RBRC MINUS>;
        };
         okey: okey{
            compatible = "zmk,behavior-tap-dance";
            label = "OKEY";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&mt LBKT O> ;
        };
        lone:lone{
            compatible = "zmk,behavior-tap-dance";
            label = "LONE";
            #binding-cells = <0>;
            tapping-term-ms = <160>;
            bindings = <&stickymt 1 1>, <&tog 1>;
        };
        ltwo:ltwo{
            compatible = "zmk,behavior-tap-dance";
            label = "LTWO";
            #binding-cells = <0>;
            tapping-term-ms = <160>;
            bindings = <&stickymt 2 2>, <&tog 2>;
        };
    };
    macros {
        change_app: change_app {
            label = "CHANGE_APP";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI &kp TAB>
                ;
        };
        change_app: pkey_macro{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &pkey>
                ;
        };
    };
};
/ {

combos {
        compatible = "zmk,combos";
        combo_caps{
            timeout-ms = <50>;
            key-positions = <20 29>;
            bindings = <&caps_word>;
        };
        combo_eqls{
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp EQUAL>;
            layers=<0>;
        };
        combo_ret{
            timeout-ms = <50>;
            key-positions = <37 9>;
            bindings = <&kp RET>;
            layers=<0>;
        };
        combo_app{
            timeout-ms = <50>;
            key-positions = <31 10>;
            bindings = <&change_app>;
            layers=<0>;
        };
        combo_esc{
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
            layers=<0>;
        };
        combo_quote{
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp SINGLE_QUOTE>;
            layers=<0>;
        };
        combo_tilde{
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp GRAVE>;
            layers=<2>;
        };
        combo_lfshift{
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp LSHIFT>;
            layers=<0>;
        };
        combo_rshift{
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&sk RSHIFT>;
            layers=<0>;
        };
        combo_plus{
            timeout-ms = <50>;
            key-positions = <5 6>;
            bindings = <&kp PLUS>;
            layers=<0>;
        };
        combo_p{
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&pkey_macro>;
            layers=<0>;
        };
        combo_panic{
            timeout-ms = <50>;
            key-positions = <32 35>;
            bindings = <&mo 0>;
        };
    };
        keymap {

                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp Q &kp W &kp E &kp R &kp T                &kp Y &kp U  &kp I     &okey   &pkey  
   &kp A &kp S &kp D &kp F &kp G                &kp H &kp J  &kp K     &kp L   &kp SEMI
   &kp Z &kp X &kp C &kp V &kp B                &kp N &kp M  &kp COMMA &kp DOT &kp FSLH
       &kp LCTRL &kp LGUI &lone &mo 3 &sk RSHIFT &ltwo  &kp SPACE &kp BSPC
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp F11      &kp F12      &kp N3       &kp N4       &kp N5         &trans   &kp N7   &kp N8 &kp N9    &kp N0
   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp N0   &kp N4   &kp N5 &kp N6    &trans
   &kp LSHIFT    &trans      &trans       &trans       &trans         &trans   &kp N1   &kp N2 &kp N3    &kp RSHIFT
                        &trans  &trans    &kp LGUI     &mo 0 &kp RSHIFT &kp SPACE &trans   &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |
// |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |
// |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
    &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR
    &kp TAB &trans &trans   &trans   &trans      &kp LEFT &kp DOWN &kp UP        &kp RIGHT &kp SINGLE_QUOTE
    &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp  TILDE &kp RBRC &kp PIPE
               &trans  &kp LGUI &mo 0  &trans   &kp RSHIFT &mo 0 &kp SPACE    &kp RALT
                        >;
                };

                system_layer {
// -----------------------------------------------------------------------------------------
// |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |
// |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |
// |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
    &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &trans    &trans    &trans &trans    &trans
   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &kp LEFT  &kp DOWN  &kp UP &kp RIGHT &kp RET
    &trans   &trans &trans   &trans   &trans      &kp UNDER &trans    &trans &trans    &trans
               &trans   &kp LGUI &mo 0 &mo 0 &kp RSHIFT &kp SPACE &kp BSPC &kp RALT
                        >;
                };
    };
};
