# Copyright (c) 2022 The ZMK Contributors SPDX-License-Identifier: MIT
# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_9PTIMUS_RIGHT

config ZMK_KEYBOARD_NAME
    default "9ptimus"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
	default y


endif

if SHIELD_9PTIMUS_LEFT

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
	default n
    

endif

