# Copyright (c) 2022 The ZMK Contributors SPDX-License-Identifier: MIT
# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_KEYBOARD_NAME
	default "Kretstrad"

if SHIELD_FSWEED_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_FSWEED_LEFT || SHIELD_FSWEED_RIGHT

config ZMK_SPLIT
	default y

endif
