# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config  SHIELD_FSWEED_LEFT
    def_bool $(shields_list_contains, fsweed_left)

config SHIELD_FSWEED_RIGHT
    def_bool $(shields_list_contains, fsweed_right)
