# Copyright (c) 2022 The ZMK Contributors SPDX-License-Identifier: MIT
# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_FSWEED_RIGHT

config ZMK_KEYBOARD_NAME
    default "fsweed"

config ZMK_SPLIT_ROLE_CENTRAL
	default y
    
endif

if SHIELD_FSWEED_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
	default n
    
endif

if SHIELD_FSWEED_LEFT || SHIELD_FSWEED_RIGHT

config ZMK_SPLIT_BLE
    default y

endif
