if SHIELD_FERRIS_SWEED_FOUR_LEFT

config ZMK_KEYBOARD_NAME
    default "ferris_four"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FERRIS_SWEED_FOUR_LEFT || SHIELD_FERRIS_SWEED_FOUR_LEFT

config ZMK_SPLIT
    default y

endif
